.version.bracket /* version checker */
{
	color: #000013;
	background-color: #BC5109;
}

.html
{
	background: #FFFFFF url("../images/cpgbackground.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.50000000000864px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
	padding-bottom: 62px;
}

#u181-4
{
	z-index: 2;
	margin-left: 246px;
}

#menuu182
{
	z-index: 6;
	width: 473px;
	margin-left: 248px;
	top: -9px;
	margin-bottom: -9px;
}

#u190
{
	width: 156px;
	min-height: 34px;
	margin-right: -10000px;
}

#u193
{
	width: 156px;
	padding-bottom: 6px;
}

#u193:hover
{
	margin: 0px;
}

#u193:active
{
	margin: 0px;
}

#u197
{
	width: 156px;
	min-height: 34px;
	margin-right: -10000px;
	left: 158px;
}

#u198
{
	width: 156px;
	padding-bottom: 6px;
}

#u193.MuseMenuActive,#u198:hover
{
	margin: 0px;
}

#u198:active
{
	margin: 0px;
}

#u195,#u200
{
	height: 28px;
	width: 156px;
	margin-right: -10000px;
	top: 3px;
}

#u183
{
	width: 157px;
	min-height: 34px;
	margin-right: -10000px;
	left: 316px;
}

#u184
{
	width: 157px;
	padding-bottom: 6px;
}

#u198.MuseMenuActive,#u184:hover
{
	margin: 0px;
}

#u184:active
{
	margin: 0px;
}

#u184.MuseMenuActive
{
	margin: 0px;
}

#u186
{
	height: 28px;
	width: 157px;
	margin-right: -10000px;
	top: 3px;
}

#u206
{
	z-index: 22;
	min-height: 1204px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u206-bw
{
	z-index: 22;
	min-height: 1204px;
	margin-top: 25px;
	height: 1204px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

