/*///////////////////////////////////*/
/*           Main CSS                */
/*///////////////////////////////////*/
::selection {
	background: #00E8FF;
	color: #FFF;
}
::-moz-selection {
	background: #00E8FF;
	color: #FFF;
}
html {
	background-color: #1F1F1F;
	background-image:url("/RESOURCES/dark-steel.jpg");
}
body {
	color: teal;
}

a{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  text-shadow: 2px 2px 6px #000000;
}
a:hover, a:active {
  /*-webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg););*/
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.noAnimation a{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: none;
  transform: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-duration: 0;
  transition-duration: 0;
  -webkit-transition-property: none;
  transition-property: none;
}

.noPaddingMargin {
	padding: 0;
	margin: 0;
}

nav {
	padding-top: 200px;
	height: 100%;
	position: fixed;
	z-index: 1;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #036;
    transform: translate3d(-200px, 0, 0);
    transition: transform 0.4s ease;
}
.active-nav nav {
    transform: translate3d(0, 0, 0);
}
nav ul {
    list-style: none;
    margin-top: 100px;
}
nav ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}
            
.nav-toggle-btn {
    display: block;
    position: absolute;
    left: 200px;
    width: 40px;
    height: 40px;
    background-color: #666;
} 

.contentAnimate {
    height: 2000px;
    text-align: center;
    transition: transform 0.4s ease;
	z-index: -2;
}
.active-nav .contentAnimate {
    transform: translate3d(200px, 0, 0);
	z-index: -2;
}

iframe{
	border: 0px;
}

#header, #intContent,#footer{
	text-align:center;
}
#header {
	background: #000 url("/RESOURCES/banner3-1800x198.png") center no-repeat;
	background-size: contain;
	height: 180px;
	width: 100%;
	padding: 0;
	font-family: Impact;
	font-size: 32px;
	padding: 8px 0 5px 0;
	border-bottom: 5px #000 solid;
	color: transparent;
	z-index: 2;
}
#menu {
	text-transform: uppercase;
	background-color: #18A7B5;
}
#menu li a {
	width: 100%;
	background-color: #18A7B5;
	color: white;
	font-family: Impact;
	font-size: 20px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #000000;
}

#content {
    padding: 20px;
	min-height: 400px;
	font-family: 'Orbitron', Arial, Helvetica, sans-serif;
	text-align: center;
	padding-bottom: 30px;
	/*box-shadow: inset 0px 0px 10px 3px;*/
	
    z-index: -2;
}

#intContent {
	width: auto;
	margin: 0;
	margin-left: 8px;
	margin-right: 8px;
}
#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 3px #000 solid;
	background-color: #000;
	font-family: Impact;
	color:#fff;
}
.section {
	background-color: #1E2D2F;
	border-radius: 10px;
	margin: auto;
	margin-bottom:20px;
	padding: 0;
	padding-bottom:10px;
	-webkit-box-shadow: 0px 2px 5px 1px #18A7B5;
	-moz-box-shadow: 0px 2px 5px 1px #18A7B5;
	box-shadow: 0px 2px 5px 1px #18A7B5;

}
.section h3 {
	background-color: #2C3742;
	margin:auto;
	width: auto;
	display: table;
	border-radius: 0 0 5px 5px;
	min-width: 100px;
}
#content img {
	max-height: 500px;
	max-width: 98%;
	height:auto;
	border: 0px #18A7B5 solid;
	border-radius: 8px;
	-webkit-box-shadow: 0px 2px 5px 1px #18A7B5;
	-moz-box-shadow: 0px 2px 5px 1px #18A7B5;
	box-shadow: 0px 2px 5px 1px #18A7B5;
}
a {
	color: #00F2FF;
}
a:visited {
	color: #00526E;
}
p {
max-width: 900px;
margin: auto;
margin-bottom: 20px;
margin-top: 10px;
}
/*http://avexdesigns.com/responsive-youtube-embed
/*/
.youtube {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.youtube iframe, .youtube object, .youtube embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.special {
	color: #00BAB7;
	font-style: italic;
}
strong{
font-weight:bold;
color:#fff;
}
html.white {
	/* steel.jpg from http://cdn.speckyboy.com/wp-content/uploads/2013/06/textures_28.jpg */
	background-image:url("/RESOURCES/steel.jpg");
}
.white .section{
	-webkit-box-shadow:0px 2px 10px 2px #000;
	-moz-box-shadow:0px 2px 10px 2px #000;
	box-shadow: 0px 2px 10px 2px #000;
	background-color:#DFF0F3;
}
.white .section h3 {
	background-color: #fff;
}
.white strong{
	color:#000;
}
.white #header{
	background-color:#18A7B5;
	border-bottom: 5px #18A7B5 solid;
}
.white #footer{
	background-color:#18A7B5;
	border-top: 3px #18A7B5 solid;
}
.white #content img{
	-webkit-box-shadow:0px 2px 10px 2px #000;
	-moz-box-shadow:0px 2px 10px 2px #000;
	box-shadow: 0px 2px 10px 2px #000;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #18a7b5;
  border: 1px solid #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00d7d1;
}
::-webkit-scrollbar-thumb:active {
  background: teal;
}
::-webkit-scrollbar-track {
  background: #999999;
  border: 1px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #999999;
}
::-webkit-scrollbar-track:active {
  background: #666666;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.fb{
	color:#43609C !important;
}
.ig{
	color:#604911 !important;
}
.icon{
	margin: 0;
    padding: 0;
    border: 0;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    left: 10%;
    position: absolute;
	max-height:50%;
	
}


#valid img, .icon{
	border:0;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	box-shadow: none !important;
}

.member{
	float: left;
	margin-bottom: 10px;
	display: inline-table;
	min-width: 100%;
}

.member img{
	width: 180px !important;
    vertical-align: top;
	max-width:180px !important;
	background-color:#000;
}
.member .past{
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
	filter: url("/RESOURCES/desaturate.svg#greyscale");
}
.member table{
	display: inline-block;
	width:100%;
}
.member > td {
    padding-bottom: 25px;
	display: inline-block;
	width: 100px;
}
.member i{
	color:#18A7B5;
}
.member .label{
	color:#18A7B5;
	font-weight:bold;
}
.member td div{
	border:#18A7B5 solid;
	/*border-width:2px 0 2px 0;*/
	border-width:2px;
	border-radius:3px;
	background-color: #1C3440;
}
.white .member td div{
	background-color: #C7DCE6;
}
.member td:nth-child(even) {
    width: 100%;
}
#cp_widget_d139fe96-5b43-497c-99c7-e097b020bc76 > div:nth-child(3){	display:none !important; }
/* ----------- Desktop Screens ----------- */
@media screen and (min-width: 1191px) {/*
#content {
	position: absolute;
	width: 90%;
	right: 0;
}*/
#menuSmall {
	display: none;
}
#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#menu li a {
	display: block;
}
#menu li a:hover {
	background-color: white;
	color: black;
}
#menu li a.active {
	background-color: teal;
	color: white;
	pointer-events: none;
}
#menu li {
	text-align: right;
}
.section {
	width: 70%;
}
/* Sweep To Right  from http://ianlunn.github.io/Hover/ */
.hvr-sweep-to-right li a{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.45s;
  transition-duration: 0.45s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right li a:hover, .hvr-sweep-to-right li a:focus, .hvr-sweep-to-right li a:active {
  color: white;
}
.hvr-sweep-to-right li a:hover:before, .hvr-sweep-to-right li a:focus:before, .hvr-sweep-to-right li a:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

}

#members :target{
background-color:#1C3440;
border-radius:10px;
}
.white #members :target{
	background-color:#C7DCE6;
}
/* ----------- smaller Screens ----------- */
@media screen and (max-width: 1190px) {
#header{
	background-image:url("../RESOURCES/banner4-684-188.png");
	height:188px;
}
#menuSmall {
	display: block;
	width: 100%;
	text-align: center;
	background-color: #18A7B5;
	border-bottom: 3px #18A7B5 solid;
}
#menuSmall ul {
	margin: 0;
	padding: 0;
}
#menuSmall li {
	display: inline-block;
	min-width: 10%;
	border-top: 2px teal solid;
}
#menuSmall li a {
	width: 100%;
	display: inline-block;
    background-color: #18A7B5;
    color: white;
    font-family: Impact;
    font-size: 20px;
    text-decoration: none;
}
#menuSmall li a:hover {
	color: black;
}
#menuSmall li a.active {
	color: teal;
}
.noMobile{
	display:none !important;
}
html{
	background-image:none;
}
.member td{
	display: list-item;
    list-style-type: none;
}
.white{
	background-color:white !important;
}
/*///////////////////*/
/*   Image Gallery   */
/*///////////////////*/
.clear{
	clear:both;
}
.photo-link{
	padding:5px;
	margin:5px; 
	border:1px solid #ccc; 
	display:block; 
	width:200px;
	float:left; }
.photo-link:hover{ 
	border-color:#999; 
}
}